{% extends 'Root.html' %} {% load static %} 
{% block content %}
<div class="table-wrapper">
    <table id="datatable1" class="table display responsive nowrap">
        <thead>
            <tr>
                <th hidden></th>
                <th class="wd-25p">Contact Type</th>
                <th class="wd-15p">Contact Link</th>
                <th class="wd-20p">Contact Icon</th>
                <th class="wd-5p"></th>
            </tr>
        </thead>
        <tbody id="member-content">
            {% for item in data %}
            <tr id="item">
                <td hidden>{{ item.id }}</td>
                <td>{{ item.contact_type }}</td>
                <td><a href="{{ item.contact_link }}">Link</a></td>
                <td><a href="{{ item.contact_icon }}">Image</a></td>
                <td style="padding-left: 8px; padding-right: 8px">
                    <a class="fa fa-gear" href="{% url 'contact:update' id_contact=item.id %}" style="margin-right: 5px"></a>
                    <a class="fa fa-trash" onclick="delitem('{{ item.contact_icon }}','Contact/','/contactdelete/{{item.id}}')" class="fa fa-gear" href="javascript:;" style="margin-left: 5px"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %} {% block script %}
<script>

    function showOption(id) {

    }
</script>
{% endblock script %}