{% extends 'Root.html' %} {% load static %}
{% block content %}

<form method="post" name="member" enctype="multipart/form-data" data-parsley-validate>
    {% csrf_token %}
    <div class="form-layout">
        <div class="row mg-b-25">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">Date Donation: <span
                                class="tx-danger">*</span></label>
                    <input required id="date_donation" class="form-control" type="text" name="date" value="{{ data.date}}" placeholder="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                    <label class="form-control-label">Donatur: <span class="tx-danger">*</span></label>
                    <select required id="donatur" class="form-control select2" data-placeholder="Select User" name="donatur">
                        </select>
                </div>

            </div>


            <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                    <label class="form-control-label">Mission: <span class="tx-danger">*</span></label>
                    <select required id="mission" class="form-control select2" data-placeholder="Select Mission" name="mission">
                          
                        </select>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-control-label">Nominal: <span
                                    class="tx-danger">*</span></label>
                        <input required class="form-control" type="number" id="url" name="value" value="{{ data.value }}" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="l1" class="form-group">
                    <div id="wave" class="sk-wave">
                        <div class="sk-rect sk-rect1 bg-gray-800"></div>
                        <div class="sk-rect sk-rect2 bg-gray-800"></div>
                        <div class="sk-rect sk-rect3 bg-gray-800"></div>
                        <div class="sk-rect sk-rect4 bg-gray-800"></div>
                        <div class="sk-rect sk-rect5 bg-gray-800"></div>
                    </div>
                </div>

            </div>


        </div>

        <div class="form-layout-footer">
            {% if id != None %}
            <button formaction="{% url 'donation:post-update' id_donation=id%}" id="update" class="btn btn-info mg-r-5">Update Form
                    </button> {% else %}
            <button formaction="{%url 'donation:post-add'%}" id="submit" class="btn btn-info mg-r-5">Submit Form
                    </button> {% endif %}

            <button id="cancel" class="btn btn-secondary">Cancel</button>
        </div>
        <!-- form-layout-footer -->
        <!-- form-layout -->
    </div>
</form>
{% endblock content %} {% block script %}

<script>
    $(function() {

        'use strict';

        $.getJSON("{%url 'get-json-user'%}", function(data) {
            let innUserItem = `<option label="Choose Donatur"></option>`
            for (let i = 0; i < data.length; i++) {
                innUserItem += `<option value="${data[i].uid}">${data[i].full_name}</option>`
            }
            $('#donatur').html(innUserItem)
            $("#donatur").val("{{ data.donatur }}").change()
        })

        $.getJSON("{%url 'get-json-mission'%}", function(data) {
            let innMissionItem = `<option label="Choose Mission"></option>`
            for (let i = 0; i < data.length; i++) {
                innMissionItem += `<option value = "${data[i].id}">${data[i].mission_name}</option>`
            }
            $('#mission').html(innMissionItem)
            $("#mission").val("{{ data.mission_id }}").change()

        })

        $('#donatur, #mission').select2({
            minimumResultsForSearch: Infinity
        });

        // Select2 by showing the search
        $('#donatur, #mission').select2({
            minimumResultsForSearch: ''
        });




        // Select2 with tagging support
        $('.select2-tag').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        });

        // Datepicker
        $('#date_donation').datepicker({
            showOtherMonths: false,
            selectOtherMonths: false,
            changeYear: true,
            changeMonth: true
        });


        // Color picker
        $('#colorpicker').spectrum({
            color: '#17A2B8'
        });

        $('#showAlpha').spectrum({
            color: 'rgba(23,162,184,0.5)',
            showAlpha: true
        });

        $('#showPaletteOnly').spectrum({
            showPaletteOnly: true,
            showPalette: true,
            color: '#DC3545',
            palette: [
                ['#1D2939', '#fff', '#0866C6', '#23BF08', '#F49917'],
                ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
            ]
        });

    });

    let profession = []
    profession = htmlDecode("{{ data.profession }}")
    let r_profession = profession.substring(1, profession.length - 1)
    r_profession = r_profession.replace(/[&\/\\#+()$~%.'":*?<>{}]/g, '')
    let array_1 = r_profession.split(", ")
    $("#profession").val(array_1)

    $('#wave').hide()


    function upload() {
        var ref = firebase.storage().ref();

        let card_file = $('#idcard').get(0).files[0]
        if (card_file != null) {
            let uploadTask = ref.child('id cards/' + card_file.name).put(card_file);


            uploadTask.on('state_changed', function(snapshot) {
                $('#wave').show()
                    // Observe state change events such as progress, pause, and resume
                    // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                console.log('Upload is ' + progress + '% done');

                switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED: // or 'paused'
                        console.log('Upload is paused');
                        break;
                    case firebase.storage.TaskState.RUNNING: // or 'running'
                        console.log('Upload is running');
                        break;
                }
            }, function(error) {
                // Handle unsuccessful uploads
            }, function() {
                $('#wave').hide()
                    // Handle successful uploads on complete
                    // For instance, get the download URL: https://firebasestorage.googleapis.com/...
                uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                    console.log('File available at', downloadURL);
                    $('#url').val(downloadURL)
                });
            });
        } else {
            alert('Select file first')
        }

    }


    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
</script>
{% endblock %}