{% extends 'Root.html' %} {% load static %}  {% block content %}
<div class="table-wrapper">
    <table id="datatable1" class="table display responsive nowrap">
        <thead>
            <tr>
                <th hidden></th>
                <th class="wd-25p">Mission</th>
                <th class="wd-15p">Donatur</th>
                <th class="wd-20p">Date</th>
                <th class="wd-20p">Value</th>
            </tr>
        </thead>
        <tbody id="member-content">
            {% for item in data %}
            <tr id="item">
                <td hidden>{{ item.id }}</td>
                <td>{{ item.mis_name }}</td>
                <td>{{ item.p_name }}</td>
                <td>{{ item.transaction_time }}</td>
                <td>{{ item.gross_amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %} {% block script %}

<script>
    $('#datatable1').DataTable({
        responsive: true,
        language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
        }
    });

    function showOption(id) {

    }
</script>
{% endblock script %}