{% extends 'Root.html' %} {% load static %} 
{% block content %}
<div class="table-wrapper">
    <table id="datatable1" class="table display responsive nowrap">
        <thead>
            <tr>
                <th hidden></th>
                <th class="wd-20p">Title</th>
                <th class="wd-5p">Start</th>
                <th class="wd-5p">End</th>
                <th class="wd-15p">Target</th>
                <th class="wd-10p"></th>
            </tr>
        </thead>
        <tbody id="member-content">
            {% for item in data %}
            <tr id="item">
                <td hidden>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.start }}</td>
                <td>{{ item.end }}</td>
                <td>{{ item.t }}</td>

                <td style="padding-left: 8px; padding-right: 8px">
                    <a class="icon ion-compose" href="{% url 'mission:detail' id_mission=item.id %}" style="margin-right: 7px"></a>
                    <a class="fa fa-book" href="{% url 'mission:update-report' id_mission=item.id %}" style="margin-right: 7px"></a>
                    <a class="fa fa-gear" href="{% url 'mission:update' id_mission=item.id %}" style="margin-right: 7px"></a>
                    <a class="fa fa-image" href="{% url 'mission:update-image' id_mission=item.id %}" style="margin-right: 7px"></a>
                    <a class="fa fa-trash" onclick="return confirm('Make sure you already remove picture on this mission?');" href="{% url 'mission:delete' id_mission=item.id %}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %} {% block script %}
<script>
    function formatMoney(money) {
        return Number.parseFloat(money).toFixed(2);
    }

   
    function showOption(id) {

    }
</script>
{% endblock script %}