{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>{{title}}</title>

    <!-- vendor css -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.css'%}" rel="stylesheet">
    <link href="{% static '/lib/Ionicons/css/ionicons.css'%}" rel="stylesheet">


    <!-- Starlight CSS -->
    <link rel="stylesheet" href="{% static 'css/starlight.css'%}">
</head>

<body>
    {% csrf_token %}
    <div class="d-flex align-items-center justify-content-center bg-sl-primary ht-100v">

        <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white">
            <div class="signin-logo tx-center tx-24 tx-bold tx-inverse">DAFQ <span class="tx-info tx-normal">admin</span></div>

            <div class="form-group">
                <input type="text" required id="username" class="form-control" placeholder="Enter your username">
            </div>
            <!-- form-group -->
            <div class="form-group">
                <input type="password" required id="password" class="form-control" placeholder="Enter your password">
            </div>
            <!-- form-group -->
            <button type="submit" onclick="Submit()" class="btn btn-info btn-block">Sign In</button>
        </div>
        <!-- login-wrapper -->
    </div>
    <!-- d-flex -->

    <script src="{% static 'lib/jquery/jquery.js' %}"></script>
    <script src="{% static 'lib/popper.js/popper.js'%}"></script>
    <script src="{% static 'lib/bootstrap/bootstrap.js'%}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        function Submit() {
            let username = $('#username').val()
            console.log(username)

            let password = $('#password').val()
            console.log(password)
            $.ajax({
                headers: {
                    "X-CSRFToken": $.cookie("csrftoken")
                },
                type: "POST",
                url: "{% url 'post-login' %}",
                data: {
                    username: username,
                    password: password
                },
                success: function(data) {
                    if (data == "OK") {
                        console.log('Sukses')
                        window.location.href = "{% url 'home'%}"
                    } else {
                        alert('Wrong username or password')
                    }
                }
            });
        }
    </script>
</body>

</html>