{% extends 'Root.html' %} {% load static %}
 {% block content %}
<div class="table-wrapper">
    <table id="datatable1" class="table display responsive nowrap">
        <thead>
            <tr>
                <th hidden></th>
                <th hidden></th>
                <th class="wd-15p">Name</th>
                <th class="wd-15p">Email</th>
                <th class="wd-15p">Phone</th>
                <th class="wd-10p">Address</th>
                <th class="wd-10p">Photo</th>
                <th class="wd-10p">Id Card</th>
                <th class="wd-10p">Proposal</th>
                <th class="wd-10p">Tgl</th>
                <!-- <th class="wd-5p"></th> -->
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr id="item">
                <td hidden>{{ item.id }}</td>
                <td hidden>{{ item.uid }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.address }}</td>
                <td><a href="{{ item.photo }}">Link</a></td>
                <td><a href="{{ item.id_card }}">Link</a></td>
                <td><a href="{{ item.proposal }}">Link</a></td>
                <td>{{ item.date }}</td>
                <!-- <td style="padding-left: 8px; padding-right: 8px">
                    <a class="fa fa-trash" onclick="delcarousel('{{item.image}}','{{item.id}}')" id="delete-item" class="fa fa-gear" href="javascript:;" style="margin-left: 5px" />
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock content %} {% block script %}
<script>


    function delcarousel(imagePath, id) {
        var r = confirm("Are you sure you want to delete this item?");
        if (r == true) {
            let name = imagePath.substr(imagePath.indexOf('%2F') + 3, (imagePath.indexOf('?')) - (imagePath.indexOf('%2F') + 3));
            name = name.replace('%20', ' ');
            //console.log(name)
            var storage = firebase.storage();
            var storageRef = storage.ref();
            var desertRef = storageRef.child('Carousel/' + name);

            // Delete the file
            desertRef.delete().then(function() {
                // File deleted successfully
                window.location.href = "/carouseldelete/" + id
            }).catch(function(error) {
                // Uh-oh, an error occurred!
            });


        } else {
            console.log('Cancel')
            return
        }
    }
</script>
{% endblock script %}