{%extends 'Root.html'%}
{%block content%}

    <div class="card pd-10 pd-sm-30">
        <div class="table-wrapper">
            <table  id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th hidden></th>
                        <th>Order</th>
                        <th>Status</th>
                        <th>Barang</th>
                        <th>Pemesan</th>
                        <th>Resi</th>
                        <!-- <th></th> -->
                        <!-- <th class="wd-5p">status</th> -->
                    </tr>
                </thead>
                <tbody id="member-content">
                    {% for item in all_carts %}
                    <tr id="item">
                        <td hidden>{{ item.id }}</td>
                        <td>{{ item.order_id }}</td>
                        <td>{{ item.status }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-popover-color="default" data-placement="top" title="Detail" data-html="true" 
                            data-content="{%for i in item.details%} Nama : {{i.product_name}} <br /> Jumlah: {{i.count_product}} <br />
                            ____________________
                            {%endfor%}">Detail</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-popover-color="default" data-placement="top" title="Detail"  data-html="true" data-content="Nama : {{item.user.fullname}} <br /> Email : {{item.user.email}}">Detail</button>
                        </td>
                        <td>{{item.resi_order}}</td>
                        <!-- <td style="padding-left: 8px; padding-right: 8px">
                            <a class="fa fa-trash" href="{{%url 'stfq:market-cart'%}" style="margin-left: 5px"></a>
                        </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-layout">
                <div class="row mg-b-25">
                    <div class="col-lg-12">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Resi</label>
                            <input required class="form-control" type="text" id="resi_order" name="resi_order">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Kategori</label>
                                    <select required class="form-control select2-show-search" data-placeholder="Pilih Order" name="order_id", id='order_id'>
                                        {%for item in carts%}
                                        <option value="{{item.id}}">{{item.order_id}}&nbsp;||&nbsp;{{item.user.email}}&nbsp;||&nbsp;{{item.user.fullname}}</option>
                                        {%endfor%}
                                      </select>
                        </div>
                    </div>


                </div>

                <div class="form-layout-footer">
                    <button formaction="{%url 'stfq:market-cart'%}" class="btn btn-secondary">Update Resi</button>
                    <!-- <button formaction="{% url 'stfq:market-stuff'%}" class="btn btn-secondary">Add Produk</button> -->
                </div>
                <!-- form-layout-footer -->
                <!-- form-layout -->
            </div>
        </form>
    </div>
{%endblock content%}