{% extends 'Root.html' %} {% load static %} 
{% block content %}
<div class="card pd-10 pd-sm-30">


    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th hidden></th>
                    <th class="wd-25p">Email</th>
                    <th class="wd-15p">Status</th>
                    <th class="wd-15p"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr id="item">
                    <td hidden>{{ item.uid }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.status }}</td>
                    <td style="padding-left: 8px; padding-right: 8px">
                        <button class="btn btn-success btn-block mg-b-10">Active</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- table-wrapper -->
    <!-- table-wrapper -->
</div>
{% endblock content %} {% block script %}
<script>
</script>
{% endblock script %}