{% load static %}
<!-- ########## START: LEFT PANEL ########## -->
<div class="sl-logo">
    <a href=""><i class="icon ion-android-star-outline"></i> DAFQ</a>
</div>
<div class="sl-sideleft">

    <div class="sl-sideleft-menu">
        <a href="{% url 'home' %}" class="sl-menu-link active">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                <span class="menu-item-label">Dashboard</span>
            </div>
            <!-- menu-item -->
        </a>
        <!-- sl-menu-link -->
        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">Carousel</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div>
            <!-- menu-item -->
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="{% url 'carousel:add'%}" class="nav-link">Add</a></li>
                <li class="nav-item"><a href="{%url 'carousel:list'%}" class="nav-link">List</a></li>
            </ul>
        </a>
        <!-- sl-menu-link -->
        {%comment%}
        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">Contact</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div>
            <!-- menu-item -->
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="{% url 'contact:add'%}" class="nav-link">Add</a></li>
                <li class="nav-item"><a href="{% url 'contact:list'%}" class="nav-link">List</a></li>
            </ul>
        </a>

        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">Donation</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div>
            <!-- menu-item -->
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="{% url 'donation:add'%}" class="nav-link">Add</a></li>
                <li class="nav-item"><a href="{% url 'donation:list'%}" class="nav-link">List</a></li>
            </ul>
        </a>
        {%endcomment%}
        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">Mission</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div>
            <!-- menu-item -->
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="{%url 'mission:add'%}" class="nav-link">Add</a></li>
                <li class="nav-item"><a href="{%url 'mission:list'%}" class="nav-link">List</a></li>
            </ul>
        </a>

        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">Article</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div>
            <!-- menu-item -->
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="{%url 'platform:add'%}" class="nav-link">Add</a></li>
                <li class="nav-item"><a href="{%url 'platform:list'%}" class="nav-link">List</a></li>
            </ul>
        </a>

        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">Profil</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div>
            <!-- menu-item -->
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="{% url 'visimisi:view' %}" class="nav-link">Update Visi & Misi</a></li>
                <li class="nav-item"><a href="{% url 'visimisi:viewcol'%}" class="nav-link">Update Activity</a></li>
            </ul>
        </a>
        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">Walkthrough</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div>
            <!-- menu-item -->
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="{% url 'walk:add' %}" class="nav-link">Add</a></li>
                <li class="nav-item"><a href="{% url 'walk:list'%}" class="nav-link">List</a></li>
            </ul>
        </a>
        <a href="{% url 'logout' %}" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">Logout</span>
            </div>
            <!-- menu-item -->
        </a>
        {% comment %}
        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <!-- <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i> -->
                <span class="menu-item-label">User</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div>
            <!-- menu-item -->
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="{% url 'user:list'%}" class="nav-link">List</a></li>
            </ul>
        </a>
        {% endcomment %}
    </div>
    <!-- sl-sideleft-menu -->

    <br>
</div>
<!-- sl-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->

<!-- ########## START: HEAD PANEL ########## -->
<div class="sl-header">
    <div class="sl-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
        </div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a>
        </div>
    </div>
    <!-- sl-header-left -->

    <!-- sl-header-right -->
</div>
<!-- sl-header -->
<!-- ########## END: HEAD PANEL ########## -->

<!-- ########## START: RIGHT PANEL ########## -->

<!-- sl-sideright -->
<!-- ########## END: RIGHT PANEL ########## --->